doctype html
html(lang="en")
  head
    title Simple Multer Upload Example
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    form(action="/" enctype="multipart/form-data" method="post")
      h1 Node.js File Upload Example
      h3 #{status}
      input(type="file" name="file-to-upload" accept=".zip")
      input(type="submit" value="Upload")
